@media (max-width: 2100px)
    .promo
        .promo_title
            font-size: 30px 
        .promo_text
            font-size: 20px 


@media (max-width: 1600px)

    .promo 
	    padding: 5% 
   
@media (max-width: 1500px)
    .promo
        .promo_title
            font-size: 20px 
        .promo_text
            font-size: 15px 
    .common 
	    padding: 0 
    .promo 
        min-height: 500px
        padding: 10% 
    .main 
       font-size: 10px  

    header 
        nav 
            .menu 
                .menu_link 
                    font-size: 15px


@media (max-width: 1100px)
    .promo
        padding: 20% 

     
@media (max-width: 991px)

    header
        nav
            ul
                li
                    a 
                        font-size: 10px 
            .menu
                flex-direction: column
                .item_menu
                    margin: 2%
                .search_space
                    margin: 5% 0 5% 0
    footer
        .footer_menu
            .border_right2
                border-right: solid 0px $footer-color


@media (max-width: 767px)
    .common 
        background: none
        .promo
            background: url('../img/fon_main2.png') center center/cover no-repeat

    footer
        margin: 5%
        .footer_menu
            .border_right1, .border_right3
                border-right: solid 0px $footer-color
    
@media (max-width: 440px)

    .promo
        padding: 30% 10% 20% 10%

    .promo
        .promo_title
            font-size: 12px 
        .promo_text
            font-size: 9px 


        